body {
  margin-right: 20%;
  margin-left: 20%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.horned{
  
  
  text-align: center;
  border-color: black;
  border-style: solid;
  
}
img{
  display: block;
  width: 100%;
  box-sizing: border-box;
  
}
h1{
  text-align: center;
}